#wrap {
	text-align: center;
	width: 500px;
	margin: 100px auto;
	position: relative;
}

#img{
	width: 100px;
	height: 100px;
	margin-left: 40px;
	margin-top: 20px;
}

#ul1 {
	width: 303px;
	height: 303px;
	margin: 50px auto;
	padding: 0;
	border-top: 1px solid black;
	border-left: 1px solid black;
}

#ul1 li {
	float: left;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	list-style: none;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

#tooltips {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	z-index: 999;
	display: none;
}

#info {
	width: 400px;
	height: 200px;
	background-color: white;
	margin: 150px auto;
	position: relative;
}

#info .title {
	width: 100%;
	height: 40px;
	background-color: #009f95;
	line-height: 40px;
	color: white;
	padding-left: 20px;
	box-sizing: border-box;
}

#info .btn button {
	background-color: #009f95;
	color: white;
	outline: none;
	font-size: 10px;
	width: 60px;
	height: 30px;
	margin-left: 300px;
}

#info .content {
	position: absolute;
	top: 95px;
    left: 190px;
	box-sizing: border-box;
}